:root {
  --black: #000814;
  --white: #ffffff;
  --black_95: #000814f2;
  --white_95: #fffffff2;
  --accent_one: #2128bd;
  --accent_two: #005ffe;
  --accent_three: #ffe5e3;
  --accent_four: #ffcc57;
  --gray: #858585;
  --mix-blend-mode: lighten;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: Montserrat, sans-serif;
}

a {
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  text-decoration: none;
  color: var(--black);
  position: relative;
  /* overflow: hidden; */

  background-size: 100%;
}

a:hover {
  background: radial-gradient(
    40% 100% at 40% 60%,
    var(--accent_four) 33%,
    var(--accent_three) 33%,
    var(--accent_three) 66%,
    var(--accent_two) 66%,
    var(--accent_two) 100%
  );
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 120%;

  /* text-fill-color: transparent; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 800;
  color: var(--black);
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

h1,
h2:hover {
  cursor: default;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--black);
}

/* REPEATING CLASSES */

.background {
  background-color: var(--white);
}

.colored {
  mix-blend-mode: var(--mix-blend-mode);
  background-color: var(--white);
}

.title {
  font-weight: 800;
  font-size: 4rem;
  line-height: 5rem;
}

.wide {
  max-width: min(62vw, 925px);
}

/* GENERAL CLASSES */

/* HOVER EFFECTS */
.shapes {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  background: var(--black);
  overflow: hidden;
  z-index: -1;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}
.shape.shape-1 {
  background: var(--accent_two);
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}
.shape.shape-2 {
  background: var(--accent_three);
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}
.shape.shape-3 {
  background: var(--accent_four);
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

/* NAVBAR */

.navbar {
  background-color: var(--white);
  z-index: 1;
  position: fixed;
  width: 34%;
  height: 100vh;
}

.navbar_contents {
  /* max-width: 315px; */
  width: min(30vw, 315px);
  margin: 7vh 0px 70px 3vh;
  /* padding-left: 100px; */
  height: 90vh;
  float: right;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  align-items: flex-start;
  justify-content: space-between;
}

.navbar_top {
  max-width: 200px;
}

.navbar_open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  flex-grow: 0.75;
}

.button_group_nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
}

.languages_group_nav {
  margin-bottom: 28px;
  visibility: hidden;
}

.name_nav {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--black);
  margin-bottom: 40px;
}

.link_nav {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  color: var(--black);
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 28px;
}

.link_nav.mail {
  display: none;
}

.link_nav.radio {
  margin-right: 10px;
  font-weight: 500;
}

.link_nav.radio.selected {
  font-weight: 800;
}

/* BODY */

.container {
  width: 66%;
  margin-right: 0px;
  float: right;
}

.landing {
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}

.name_landing {
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  height: min(60vh, max(380px, 50%));
  padding-top: 30px;
}

.name {
  font-weight: 800;
  font-size: min(156px, 16vw, 25vh);
  line-height: 115%;
  margin-top: auto;
}

.subtext_landing {
  height: 100%;
}

.subtext {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

/* ABOUT ME */

.about_title {
  padding-top: 7vh;
}

.about_container {
  padding-top: 90px;
}

.about_paragraph {
  text-align: justify;
  line-height: 150%;
}

.about_cv_container {
  padding-top: 50px;
}

.about_cv {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: var(--black);
  display: inline-block;
}

.skills_title {
  padding-top: 160px;
}

.skills {
  padding-top: 10px;
}

.skill_subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 100px;
  padding-left: 3%;
}

.tools_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tool {
  width: 20%;
  text-align: center;
}

.tool_img {
  width: 40px;
  height: 40px;
  margin: 70px auto 15px;
  background-color: var(--black);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 100%;
}

.html_img {
  -webkit-mask-image: url(./img/logo_html.svg);
  mask-image: url(./img/logo_html.svg);
}
.css_img {
  -webkit-mask-image: url(./img/logo_css.svg);
  mask-image: url(./img/logo_css.svg);
}
.js_img {
  -webkit-mask-image: url(./img/logo_js.svg);
  mask-image: url(./img/logo_js.svg);
}
.python_img {
  -webkit-mask-image: url(./img/logo_python.svg);
  mask-image: url(./img/logo_python.svg);
}
.github_img {
  -webkit-mask-image: url(./img/logo_github.svg);
  mask-image: url(./img/logo_github.svg);
}
.webflow_img {
  -webkit-mask-image: url(./img/logo_webflow.svg);
  mask-image: url(./img/logo_webflow.svg);
}
.figma_img {
  -webkit-mask-image: url(./img/logo_figma.svg);
  mask-image: url(./img/logo_figma.svg);
}
.ps_img {
  -webkit-mask-image: url(./img/logo_ps.svg);
  mask-image: url(./img/logo_ps.svg);
}
.issuu_img {
  -webkit-mask-image: url(./img/logo_issuu.svg);
  mask-image: url(./img/logo_issuu.svg);
}

.languages_flex {
  display: flex;
  margin-top: 60px;
  padding-bottom: 90px;
}

.language {
  width: 20%;
  text-align: center;
  line-height: 150%;
}

.portfolio_title {
  padding: 7vh 0 90px;
}

.portfolio_work {
  padding-bottom: 90px;
  max-width: min(62vw, 925px);
}

.portfolio_thumbnail {
  width: 100%;
  max-width: 740px;
}

.portfolio_work a {
  display: block;
}

.portfolio_work span {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  margin: 20px 0px;
}

.portfolio_work_description {
  max-width: 740px;
  text-align: justify;
}

.portfolio_work_description p {
  margin-bottom: 20px;
}

.portfolio_work_description span {
  border: 1px solid var(--black);
  padding: 3px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 500;
  border-radius: 0.75rem;
}

/*
.portfolio_work {
  padding-bottom: 90px;
  max-width: min(62vw, 925px);
  height: 370px;
  position: relative;
}

.portfolio_thumbnail {
  width: 77.7%;
  height: 100%;
  filter: blur(2px);
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(223, 223, 223, 0.306) 56.3%,
      rgba(255, 255, 255, 0.6) 80.07%
    ),
    url(./item1/thumbnail.jpg);
}

.portfolio_thumbnail:hover {
  filter: blur(0px);
}

.portfolio_work_name {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 0;
  max-width: 50%;

  font-size: min(4.5vw, 4rem);
  line-height: 120%;
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  text-shadow: 0px 4px 98px var(--white);
}

.portfolio_work_description {
  position: absolute;
  top: 50%;
  right: 0;
  width: 22.3%;
}

.portfolio_work_tools {
  padding-left: 10px;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-size: min(3vw, 1.5rem);
  line-height: 140%;
}
*/

.see_more {
}

.see_more_subtitle {
  /* padding-left: 3%; */
}

.see_more_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.see_profile {
  text-align: center;
  margin-top: 70px;
}

.see_profile_narrow {
  width: 25%;
}

.see_profile_wide {
  width: 50%;
}

.profile_img {
  width: 40px;
  height: 40px;
  margin: 0px auto 15px;
  background-color: var(--black);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 100%;
}

.profile_link {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

section#contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact_title {
  padding: 7vh 0 90px;
}

.contact {
  flex-grow: 1;
}

.contact_paragraph {
  font-size: 1.5rem;
  line-height: 140%;
}

.contact_flex {
  padding: 70px 0 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact_link {
  color: var(--black);
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.contact_item {
  width: 34%;
}

.contact_item.mail {
  width: 66%;
}

.copyright {
  padding-bottom: 3vh;
  font-size: 1.25rem;
}

/* PROJECT PAGE */

#description,
#demo {
  height: 100vh;
  min-height: 800px;
  max-height: 250vw;
}

.name_landing.project {
  max-height: 33%;
  min-height: unset;
  /* height: min(33vh, 380px, 24vw); */
  height: auto;
  padding-top: 7vh;
}
.name.project {
  font-size: min(128px, 9vw, 16vh);
}

.profile_link.project {
  font-size: 1.75rem;
  margin-top: 30px;
  display: inline-block;
}

.about_paragraph.project {
  margin-top: 60px;
}

h3.project {
  font-size: 1.75rem;
  margin-top: 30px;
}

.scroll_down.project {
  top: 92vh;
}

#demo div {
  height: 100%;
  position: relative;
}
.portfolio_work_description.project {
  margin-top: 20px;
}

.project_prompt {
  padding-top: 60px;
  font-size: 1rem;
  animation: pulsate 4s ease;
  animation-iteration-count: infinite;
  opacity: 1;
}
@keyframes pulsate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

video.project {
  position: absolute;
  max-width: unset;
  margin-top: 20px;
  width: min(62vw, 925px);
  height: auto;
  z-index: 150;
  transition: 1000ms all ease-in-out;
}
video.project:hover {
  cursor: pointer;
}

video.project.full {
  position: fixed;
  z-index: 300;
  margin-top: 0;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  transform: translateX(-34vw);
  background-color: var(--white_95);
  transition: 1000ms all ease-in-out;
}
video.project.full:hover {
  cursor: default;
}

.project_popup {
  position: fixed;
  z-index: 300;
  top: 20vh;
  margin: 0 auto;
  width: 40%;
  height: auto;
  background-color: var(--white_95);
  color: var(--black_95);
  padding: 10px;
  font-size: 1.25rem;
  line-height: 140%;
  border-radius: 0.75rem;
  text-align: center;
  transition: 500ms all ease-in-out;
}
.project_popup.hidden {
  visibility: hidden;
  opacity: 0;
}

.copyright.project {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 1.25rem;
    line-height: 1.33rem;
  }

  .name_landing {
    min-height: 50vh;
  }

  .subtext {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .about_container {
    padding-top: 70px;
  }

  .skills_title {
    padding-top: calc(50px + 7vh);
  }

  .skill_subtitle {
    margin-top: 70px;
  }

  .tool,
  .language {
    width: 25%;
  }

  .tool_img {
    width: 36px;
    height: 36px;
    margin: 50px auto 15px;
  }

  .languages_flex {
    margin-top: 40px;
    padding-bottom: 50px;
  }

  .portfolio_title {
    padding-bottom: 70px;
  }
  .portfolio_work {
    padding-bottom: 50px;
  }
  .portfolio_work span {
    margin: 10px 0 20px;
    font-size: 2.5rem;
    line-height: 100%;
  }
  .portfolio_work_description span {
    font-size: 1.5rem;
  }

  .see_more_flex {
    padding-bottom: 50px;
  }

  .see_profile {
    margin-top: 45px;
  }
  .see_profile_narrow {
    width: 50%;
  }

  .contact_paragraph {
    font-size: 1.25rem;
  }
  .contact_item {
    width: 100%;
    margin-bottom: 20px;
  }

  .copyright {
    font-size: 1rem;
  }

  /* PROJECT PAGE */

  .profile_link.project {
    font-size: 1.5rem;
  }

  h3.project {
    font-size: 1.5rem;
  }

  .portfolio_work_description.project span {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 90%;
  }

  .navbar {
    z-index: 200;
    position: fixed;
    width: 100vw;
    /* background-color: transparent; */
    background: none;
    height: auto;
  }

  #hamburger {
    margin: 15px 25px 0 0;
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #hamburger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: var(--white);
    border-radius: 6px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
    left: 5px;
  }

  #hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 26px;
    left: 5px;
  }

  .navbar_contents {
    /* position: absolute; */
    width: 100%;
    margin: 0;
    float: none;
    /* padding-left: 100px; */
    height: auto;
  }

  .navbar_open {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--white_95);
    z-index: 200;
    width: 100%;
    height: 100vh;
    transition: all 500ms ease;
  }

  .navbar_open.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  .navbar_top {
    position: absolute;
    top: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    background-color: var(--black);
  }

  .navbar_top a {
    margin: 18px 18px 0;
  }

  .button_group_nav {
    /* visibility: hidden; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
  }

  .button_group_nav.shortcuts {
    display: none;
  }

  .controls {
    margin: auto;
  }

  .languages_group_nav {
    display: flex;
    margin: auto;
    margin-bottom: 28px;
  }

  .name_nav {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--white);
    margin-bottom: 0;
  }

  .link_nav {
    margin-right: 0;
    margin: auto;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    color: var(--black);
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin-bottom: 50px;
  }
  .link_nav.mail {
    display: inline-block;
  }
  .link_nav.radio {
    margin-right: auto;
  }

  .color_mode_group_nav * {
    padding: 0 10px;
  }

  .container {
    width: 100%;
    margin-right: 0px;
    float: none;
  }

  .wide {
    max-width: 100%;
  }
  .colored,
  .background {
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfolio_work {
    max-width: 100%;
  }

  section#contact {
    min-height: unset;
  }

  /* PROJECT PAGE */
  .name_landing.project {
    padding-top: max(12vh, 80px);
  }

  .name.project {
    font-size: min(128px, 14vw, 16vh);
  }

  .project_prompt {
    padding-top: 12vw;
  }

  video.project {
    width: calc(100vw - 40px);
  }
  video.project.full {
    transform: translateX(-20px);
  }

  .project_popup {
    width: 80%;
    font-size: 1.25rem;
  }

  .copyright.project {
    left: 0;
  }

  #demo {
    height: min(100vh, 160vw);
    min-height: 550px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 80%;
  }

  .container {
    overflow: hidden;
  }

  .name {
    font-weight: 800;
    font-size: min(156px, 20vw, 25vh);
    line-height: 115%;
    margin-top: auto;
  }

  .title {
    font-size: min(3.5rem, 12vw);
  }

  .tool_img {
    width: 32px;
    height: 32px;
    margin: 50px auto 15px;
  }
  .tool_name {
    font-size: 1rem;
  }

  .language {
    font-size: min(1.25rem, 4vw);
  }

  .portfolio_work span {
    margin: 10px 0;
    font-size: 2rem;
    line-height: 100%;
  }

  .portfolio_work_description p {
    margin: 10px 0 0;
  }

  .portfolio_work_description span {
    font-size: 1.25rem;
  }

  .profile_img {
    height: 32px;
    width: 32px;
  }
  .profile_paragraph {
    font-size: 1.25rem;
  }

  .contact_flex {
    padding: 70px 0 200px;
  }
  .contact_link {
    font-size: 1.25rem;
  }
}

@media screen and (max-height: 850px) {
  .scroll_down.project {
    visibility: hidden;
  }
}

@media screen and (max-height: 600px) {
  .button_group_nav.shortcuts {
    display: none;
  }

  .button_group_nav {
    margin-bottom: 0;
  }

  .scroll_down {
    visibility: hidden;
  }
  .name_landing {
    padding-top: 60px;
  }
  .subtext {
    font-size: 1.375rem;
    line-height: 2rem;
  }

  .contact_flex {
    padding: 70px 0 80px;
  }

  .languages_group_nav.project {
    display: none;
  }
}

/* .cursor {
  position: fixed;
  background: var(--accent_one);
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
} */

::-moz-selection {
  color: var(--white);
  background: var(--accent_one);
}

::selection {
  color: var(--white);
  background: var(--accent_one);
}

/* LANDING SCROLL ANIMATION */

.scroll_down {
  padding-top: 60px;
  position: absolute;
  top: 85vh;
  left: 50vw;
  z-index: 100;
}
.scroll_down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid var(--black);
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll_down span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--black);
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  transition: all 400ms ease;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  /* background: rgba(var(--black), 0.1); */
  /* background: rgb(from var(--black) r g b / 50%); */
  /* background: rgba(0, 0, 0, 0.2); */
  /* background: var(--black); */
  border: 1px solid var(--black);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--gray);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}
::-webkit-scrollbar-thumb:active {
  background: var(--black);
}
