:root {
  --black: #000814;
  --white: #ffffff;
  --accent_one: #2128bd;
  --accent_two: #005ffe;
  --accent_three: #ffe5e3;
  --accent_four: #ffcc57;
  --gray: #858585;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: Montserrat, sans-serif;
}

a {
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  text-decoration: none;
  color: var(--black);
  position: relative;
  /* overflow: hidden; */

  background-size: 100%;
}

a:hover {
  background: radial-gradient(
    40% 100% at 40% 60%,
    var(--accent_four) 33%,
    var(--accent_three) 33%,
    var(--accent_three) 66%,
    var(--accent_two) 66%,
    var(--accent_two) 100%
  );
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 120%;

  /* text-fill-color: transparent; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 800;
  color: var(--black);
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

h1,
h2:hover {
  cursor: default;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--black);
}

/* REPEATING CLASSES */

.background {
  background-color: var(--white);
}

.colored {
  mix-blend-mode: lighten;
  background-color: var(--white);
}

.title {
  font-weight: 800;
  font-size: 4rem;
  line-height: 5rem;
}

.wide {
  max-width: min(62vw, 925px);
}

/* GENERAL CLASSES */

/* HOVER EFFECTS */
.shapes {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  background: var(--black);
  overflow: hidden;
  z-index: -1;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}
.shape.shape-1 {
  background: var(--accent_two);
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}
.shape.shape-2 {
  background: var(--accent_three);
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}
.shape.shape-3 {
  background: var(--accent_four);
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

/* NAVBAR */

.navbar {
  background-color: var(--white);
  z-index: 1;
  position: fixed;
  width: 34%;
  height: 100vh;
}

.navbar_contents {
  /* max-width: 315px; */
  width: min(30vw, 315px);
  margin: 7vh 0px 70px 3vh;
  /* padding-left: 100px; */
  height: 90vh;
  float: right;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  align-items: flex-start;
  justify-content: space-between;
}

.button_group_nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
}

.languages_group_nav {
  margin-bottom: 28px;
}

.name_nav {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: var(--black);
  margin-bottom: 40px;
}

.link_nav {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  color: var(--black);
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 28px;
}

.link_nav.radio {
  margin-right: 10px;
}

a.unselected {
  font-weight: 500;
}

/* BODY */

.container {
  width: 66%;
  margin-right: 0px;
  float: right;
}

.landing {
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}

.name_landing {
  height: 50%;
  display: flex;
  flex-direction: column;
  min-height: 380px;
  padding-top: 30px;
}

.name {
  font-weight: 800;
  font-size: min(156px, 16vw);
  line-height: 115%;
  margin-top: auto;
}

.subtext_landing {
  height: 100%;
}

.subtext {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

/* ABOUT ME */

.about_title {
  padding-top: 70px;
}

.about_container {
  padding-top: 90px;
}

.about_paragraph {
  text-align: justify;
  line-height: 150%;
}

.about_cv_container {
  padding-top: 50px;
}

.about_cv {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: var(--black);
  display: inline-block;
}

.skills_title {
  padding-top: 160px;
}

.skills {
  padding-top: 10px;
}

.skill_subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 100px;
  padding-left: 3%;
}

.tools_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tool {
  width: 20%;
  text-align: center;
}

.tool_img {
  width: 40px;
  height: 40px;
  margin: 70px auto 15px;
  background-color: var(--black);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 100%;
}

.html_img {
  -webkit-mask-image: url(./img/logo_html.svg);
  mask-image: url(./img/logo_html.svg);
}
.css_img {
  -webkit-mask-image: url(./img/logo_css.svg);
  mask-image: url(./img/logo_css.svg);
}
.js_img {
  -webkit-mask-image: url(./img/logo_js.svg);
  mask-image: url(./img/logo_js.svg);
}
.python_img {
  -webkit-mask-image: url(./img/logo_python.svg);
  mask-image: url(./img/logo_python.svg);
}
.github_img {
  -webkit-mask-image: url(./img/logo_github.svg);
  mask-image: url(./img/logo_github.svg);
}
.webflow_img {
  -webkit-mask-image: url(./img/logo_webflow.svg);
  mask-image: url(./img/logo_webflow.svg);
}
.figma_img {
  -webkit-mask-image: url(./img/logo_figma.svg);
  mask-image: url(./img/logo_figma.svg);
}
.ps_img {
  -webkit-mask-image: url(./img/logo_ps.svg);
  mask-image: url(./img/logo_ps.svg);
}
.issuu_img {
  -webkit-mask-image: url(./img/logo_issuu.svg);
  mask-image: url(./img/logo_issuu.svg);
}

.languages_flex {
  display: flex;
  margin-top: 60px;
  padding-bottom: 90px;
}

.language {
  width: 20%;
  text-align: center;
  line-height: 150%;
}

.portfolio_title {
  padding: 70px 0 90px;
}

.portfolio_work {
  padding-bottom: 90px;
  max-width: min(62vw, 925px);
  /* height: min(33vw, 370px); */
  height: 370px;
  /* height: 100%; */
  position: relative;
}

.portfolio_thumbnail {
  width: 77.7%;
  height: 100%;
  filter: blur(2px);
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(223, 223, 223, 0.306) 56.3%,
      rgba(255, 255, 255, 0.6) 80.07%
    ),
    url(./item1/thumbnail.jpg);
}

.portfolio_thumbnail:hover {
  filter: blur(0px);
}

.portfolio_work_name {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  /* margin: auto 0; */
  top: 10%;
  right: 0;
  /* transform: translateY(-50%); */
  max-width: 50%;

  font-size: min(4.5vw, 4rem);
  line-height: 120%;
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  text-shadow: 0px 4px 98px var(--white);
}

.portfolio_work_description {
  position: absolute;
  /* margin: auto 0; */
  top: 50%;
  right: 0;
  width: 22.3%;
}

.portfolio_work_tools {
  padding-left: 10px;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-size: min(3vw, 1.5rem);
  line-height: 140%;
}

.see_more {
}

.see_more_subtitle {
  padding-left: 3%;
}

.see_more_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.see_profile {
  text-align: center;
  margin-top: 70px;
}

.see_profile_narrow {
  width: 25%;
}

.see_profile_wide {
  width: 50%;
}

.profile_img {
  width: 40px;
  height: 40px;
  margin: 0px auto 15px;
  background-color: var(--black);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 100%;
}

.profile_paragraph {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

section#contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact_title {
  padding: 70px 0 90px;
}

.contact {
  flex-grow: 1;
}

.contact_paragraph {
  font-size: 1.5rem;
  line-height: 140%;
}

.contact_flex {
  padding: 70px 0 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact_link {
  color: var(--black);
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.contact_item {
  width: 34%;
}

.contact_item.mail {
  width: 66%;
}

.copyright {
  padding-bottom: 3vh;
  font-size: 1.25rem;
}

@media screen and (max-width: 1200px) {
  .tool,
  .language {
    width: 25%;
  }

  .see_profile_narrow {
    width: 50%;
  }
}

/* .cursor {
  position: fixed;
  background: var(--accent_one);
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
} */

::-moz-selection {
  color: var(--white);
  background: var(--accent_one);
}

::selection {
  color: var(--white);
  background: var(--accent_one);
}

/* LANDING SCROLL ANIMATION */

.scroll_down {
  padding-top: 60px;
  position: absolute;
  top: 85vh;
  left: 50vw;
  z-index: 100;
}
.scroll_down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid var(--black);
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll_down span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--black);
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  transition: all 400ms ease;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  /* background: rgba(var(--black), 0.1); */
  /* background: rgb(from var(--black) r g b / 50%); */
  /* background: rgba(0, 0, 0, 0.2); */
  /* background: var(--black); */
  border: 1px solid var(--black);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--gray);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}
::-webkit-scrollbar-thumb:active {
  background: var(--black);
}
