:root {
  --black: #000814;
  --white: #ffffff;
  --accent_one: #2128bd;
  --accent_two: #005ffe;
  --accent_three: #ffe5e3;
  --accent_four: #ffcc57;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  background: radial-gradient(
    50% 100% at 70% 70%,
    var(--accent_four) 33%,
    var(--accent_three) 33%,
    var(--accent_three) 66%,
    var(--accent_two) 66%,
    var(--accent_two) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 800;
  color: var(--black);
}

h3 {
  font-family: Montserrat, sans-serif;
}

h1,
h2:hover {
  cursor: default;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

/* REPEATING CLASSES */

.background {
  background-color: var(--white);
}

.colored {
  mix-blend-mode: lighten;
  background-color: var(--white);
}

.title {
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
}

/* GENERAL CLASSES */

/* HOVER EFFECTS */
.shapes {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  background: var(--black);
  overflow: hidden;
  z-index: -1;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}
.shape.shape-1 {
  background: var(--accent_two);
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}
.shape.shape-2 {
  background: var(--accent_three);
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}
.shape.shape-3 {
  background: var(--accent_four);
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

/* NAVBAR */

.navbar {
  background-color: var(--white);
  z-index: 1;
  position: fixed;
  width: 34%;
  height: 100vh;
}

.navbar_contents {
  /* max-width: 315px; */
  width: min(30vw, 315px);
  margin: 70px 0px 70px 100px;
  /* padding-left: 100px; */
  height: 90vh;
  float: right;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  align-items: flex-start;
  justify-content: space-between;
}

.button_group_nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
}

.languages_group_nav {
  margin-bottom: 28px;
}

.name_nav {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: var(--black);
  margin-bottom: 40px;
}

.link_nav {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  color: var(--black);
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 28px;
}

.link_nav.radio {
  margin-right: 10px;
}

a.unselected {
  font-weight: 500;
}

/* BODY */

.container {
  width: 66%;
  margin-right: 0px;
  float: right;
}

.landing {
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}

.name_landing {
  height: 50%;
  display: flex;
  flex-direction: column;
  min-height: 380px;
  padding-top: 30px;
}

.name {
  font-weight: 800;
  font-size: min(156px, 16vw);
  line-height: 115%;
  margin-top: auto;
}

.subtext_landing {
  height: 100%;
}

.subtext {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
}

/* ABOUT ME */

.about_title {
  padding-top: 70px;
}

.about_container {
  padding-top: 90px;
}

.about_paragraph {
  text-align: justify;
  max-width: min(62vw, 925px);
}

.about_cv_container {
  padding-top: 50px;
}

.about_cv {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: var(--black);
  display: inline-block;
}

.skills_title {
  padding-top: 120px;
}

.skills {
  padding-top: 55px;
}

.skill_subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
}

.tool_icon {
  width: 40px;
  height: 40px;
  background-color: red;
  -webkit-mask-image: url(/img/icon_download.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  mask-image: url(/img/logo_html.svg);
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
}

@media (min-width: 419px) {
  h1 {
    font-size: 100px;
    font-size: calc((0.0989119683 * 100vw + (58.5558852621px)));
  }
}
@media (min-width: 1430px) {
  h1 {
    font-size: 200px;
  }
}

.cursor {
  position: fixed;
  background: var(--accent_one);
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

::-moz-selection {
  color: var(--white);
  background: var(--accent_one);
}

::selection {
  color: var(--white);
  background: var(--accent_one);
}
